
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
}
.seat{
  background-color: #F7F8F8;
  border-radius: 12px;
  padding: 17px 34px;
}
.seat-p > p{
  text-align: center;
}
.selected-seat{
  background-color: rgb(23, 177, 23);
  color: white;
}
.show{
  display: flex;
}